<template>
  <v-app-bar flat>
      <v-container class="fill-height d-flex align-center">
        <img
          contain
          class="header-logo"
          height="40"
          src="src/assets/logo.png"
        />
        <h3 class="pr-3">Test File</h3>
        <v-link
          v-for="link in menu"
          :key="link.path"
          :class="link.active  ? 'ml-2 mr-2 menu-text active d-none d-sm-flex' : 'd-none d-sm-flex ml-2 mr-2 menu-text'"
          variant="text"
        >
          <span>{{ link.text }}</span>
        </v-link>

        <v-spacer></v-spacer>
        <v-icon icon="mdi-refresh"></v-icon>
        <v-icon icon="mdi-web"></v-icon>
      </v-container>
    </v-app-bar>
</template>

<script>
export default {
  name: 'Header',
  data: () => ({
      menu: [
        {
          text:"Chat",
          path: "chat"
        },
        {
          text:"Home",
          path: "home",
          active: true
        },
        {
          text:"Reward Sent",
          path: "reward-sent"
        },
        {
          text:"Reward Received",
          path: "reward-received"
        },
        {
          text:"About",
          path: "about"
        }
      ],
    }),
}
</script>
<style lang="scss">
  .header-logo{
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.28);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.28);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.28);
    border-radius: 5px;
    margin-right: 10px;
  }
  .menu-text{
    color: #737373;
    &.active{
      color: #000;
      font-weight: 500;
    }
  }
  .v-app-bar{
    i{
      color: #737373;
    }
  }
</style>