@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    font-family: 'Roboto', sans-serif;
    background: #e6eefd;
}
.v-main{
    background: #e6eefd;
}
.app-header{
    p{
        color: #737373;
        font-size: 0.9rem;
    }
    h3{
        font-weight: 500;
    }
}
.back-block {
    width: 100%;
    height: 54vh;
    background: #fff;
    position: fixed;
    bottom: 0;
}
.card-teal {
    padding: 0.1rem !important;
    background: #635eff !important;
    color: #fff !important;
    .text-h4{
        margin-top:0.5rem;
        font-size: 1.8rem !important;
        color: #fff !important;
        span{
            &.divider{
                font-size: 2rem;
                font-weight: 100;
            }
            font-size: 0.8rem;
        }
    }
    div{
        font-weight: 300 !important;
        color: rgb(232, 232, 232);
    }
    hr{
        background-image: linear-gradient(90deg, rgb(171, 171, 171), transparent);
        border: 0;
        height: 1px;
    }
}
.vertical-center{
    min-height: 100px;
    height: 100%;
    position: relative;
    h3, p{
        position: absolute;
        top: 35%;
    }
    p{
        top:55%;
    }
}
.product-card{
    color: #5c5c5c !important;
    .product-img{
        width: 100%;
        min-height: 120px;
    }
    h5{
        font-size: 1.3rem;
        span{
            font-size: 0.7rem;
        }
    }
    h3{
        font-size: 0.7rem;
    }
    p{
        font-size: 0.65rem;
    }
    hr{
        background-image: linear-gradient(90deg, rgb(194, 194, 194), rgb(194, 194, 194));
        border: 0;
        height: 1px;
    }
    img{
        border-radius: 5px;
    }
    span{
        &.status{
            font-size: 0.7rem;
            color: #5cd1a8;
            font-weight: 400;
            span{
                background-color: #5cd1a8;
                color: #fff;
                padding: 3px;
            }
        }
    }
}
.card-head{
    padding:0.7rem 1rem;
    border-bottom: 1px solid #b9b9b9;
    color: #5c5c5c !important;
    font-weight: 500;
    font-size: 1rem;
}
.card-body{
    color: #5c5c5c !important;
    display: inline-flex;
    width: 100%;
    .v-list-item{
        width: 100%;
         border-top: 1px solid #b9b9b9;
         &:nth-child(1){
            border-top: 0px solid #b9b9b9;
        }
    }
    .v-list-item-title{
        font-size: 0.8rem;
        padding-right: 1.8rem;
    }
    i{
        font-size: 1.2rem;
    }
    p{
        font-size: 0.8rem;
    }
    .card-count{
        padding:0.7rem 1.4rem;
        border-right: 1px solid #b9b9b9;
    }
    .card-amount{
        padding:0.7rem 1.4rem;
    }
}