<template>
  <v-app id="inspire">
    <Header />
    <v-main>
      <div class="back-block"></div>
      <v-container>
        <v-row dense class="app-header">
          <v-col cols="12" lg="9">
            <div class="vertical-center">
              <h3>Good Morning {{user.name}}</h3>
              <p>Here's What happening with your Rybbon account</p>
            </div>
          </v-col>
          <v-col md="3">
            <v-card class="d-none d-sm-flex mx-auto card-teal">
              <v-card-text>
                <div>Your Budget</div>
                <p class="text-h4">
                  $1,200.00<span class="divider">/</span><span>$2,000 per month</span>
                </p>
                <hr />
                <div class="text--primary mt-2">
                  Resets on April 1st, 2022
                </div>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
        <v-row class="mt-4" dense>
          <v-col cols="12" sm="12" md="12" lg="9">
            <v-sheet
              min-height="70vh"
              rounded="lg"
              class="pa-5"
            >
              <p class="mb-2">Available Reward Campaigns (6)</p>
              <v-row dense>
                <v-col v-for="(item, index) in products" :key="index" cols="12" lg="4" md="4">
                  <v-card class="pa-2 product-card">
                    <v-row dense>
                      <v-col md="6">
                        <img
                          class="product-img"
                          :src="'src/assets/'+item.image+'.png'"
                        />
                      </v-col>
                      <v-col>
                        <h5><span>CAD </span>{{ item.rate }}</h5>
                        <h3>Above & Beyond 2022</h3>
                        <span :class="item.status ? 'status status-on': 'status status-off' ">Status 
                          <span v-if="item.status">ON</span>
                          <span v-else>OFF</span>
                        </span>
                        <hr class="mt-1 mb-1" />
                        <p>Recipient's Choice: <strong>{{ item.recipient_choice }}</strong></p>
                        <p>Approval: <strong>{{ item.approval }}</strong></p>
                      </v-col>
                    </v-row>
                  </v-card>
                </v-col>
              </v-row>
            </v-sheet>
          </v-col>
          <v-col md="3">
            <v-card class="pa-0">
              <div class="card-head">
                <h3>Sent</h3>
              </div>
              <div class="card-body">
                <div class="card-count">
                  <h4>40</h4>
                  <p>Counts</p>
                </div>
                <div class="card-amount">
                  <h4>$1,240.00</h4>
                  <p>Amount</p>
                </div>
              </div>
            </v-card>
            <v-card class="pa-0 mt-1">
              <div class="card-head">
                <h3>Sent</h3>
              </div>
              <div class="card-body">
                <div class="card-count">
                  <h4>40</h4>
                  <p>Counts</p>
                </div>
                <div class="card-amount">
                  <h4>$1,240.00</h4>
                  <p>Amount</p>
                </div>
              </div>
            </v-card>
            <v-card class="pa-0 mt-1">
              <div class="card-head">
                <h3>List (2)</h3>
              </div>
              <div class="card-body">
                <v-list density="compact">
                  <v-list-item
                    v-for="(item, i) in awards"
                    :key="i"
                    :value="item"
                    active-color="primary"
                  >
                    <template v-slot:append>
                      <v-icon class="ml-0" icon="mdi-delete"></v-icon>
                      <v-icon class="ml-0" icon="mdi-pencil"></v-icon>
                    </template>

                    <v-list-item-title v-text="item.text"></v-list-item-title>
                  </v-list-item>
                </v-list>
              </div>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
import Header from './components/Layout/Header.vue'
  export default {
      components: {
        Header
    },
    data() {
    return {
      awards: [
        {
          id:"1",
          text: "Diamond Awards (20 rewards)"
        },
        {
          id:"1",
          text: "Platinum Awards (25 rewards)"
        }
      ],
      user: {
        name: "Daniela",
        id: "12"
      },  
      links: [
        'Dashboard',
        'Messages',
        'Profile',
        'Updates',
      ],
      products:[
        {
          rate: "500.00",
          status: true,
          recipient_choice: "US",
          approval: "Required",
          image: "image-01"
        },
        {
          rate: "500.00",
          status: true,
          recipient_choice: "US",
          approval: "Required",
          image: "image-02"
        },
        {
          rate: "500.00",
          status: true,
          recipient_choice: "US",
          approval: "Required",
          image: "image-03"
        },
        {
          rate: "500.00",
          status: true,
          recipient_choice: "US",
          approval: "Required",
          image: "image-04"
        },
        {
          rate: "500.00",
          status: true,
          recipient_choice: "US",
          approval: "Required",
          image: "image-05"
        },
        {
          rate: "500.00",
          status: true,
          recipient_choice: "US",
          approval: "Required",
          image: "image-06"
        },
        {
          rate: "500.00",
          status: true,
          recipient_choice: "US",
          approval: "Required",
          image: "image-07"
        },
        {
          rate: "500.00",
          status: true,
          recipient_choice: "US",
          approval: "Required",
          image: "image-08"
        },
        {
          rate: "500.00",
          status: true,
          recipient_choice: "US",
          approval: "Required",
          image: "image-09"
        }
      ]
    }
  },
  }
</script>